<!-- Header -->
<ion-header  style="background-color: #72A9AE;">
  <ion-navbar color="header">
    <button ion-button menuToggle >
      <ion-icon >
        <img class="logo-login" src="{{values.iconMenu}}">
      </ion-icon>
    </button>
    <ion-title class="logo-title">
      <div>
        <img width="200" src="{{values.homerLogoP}}" />
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed">

  <ion-spinner *ngIf="!customers" name="crescent"
    style="display:block; margin-left: auto; margin-right:auto; margin-top: 5px; margin-bottom:5px"></ion-spinner>

  <div *ngIf="customers" class="customer">
    <div *ngIf="customers.customer.billing_address">
      <div class="card">
        <div class="header">
          <div class="avatar" *ngIf="checkAvatar()=='false'">
            <img src="../../../assets/image/avatar40x40.png" alt="">
          </div>
          <div class="avatar" *ngIf="checkAvatar()!='false'">
            <img src="{{customers.customer.avatar_url}}" />
          </div>
        </div>
        <div class="card-body">
          <div class="user-meta ion-text-center">
            <h3 class="playername"> {{customers.customer.billing_address.first_name}}
              {{customers.customer.billing_address.last_name}}<br *ngIf="customers.customer.billing_address.first_name">
            </h3>
            <h5 class="country">{{customers.customer.role}}</h5>

          </div>
        </div>
      </div>

      <ion-card>
        <ion-card-header>
          {{"Home Address" | translate}}
        </ion-card-header>
        <ion-card-content style="margin-top: 10px">
          <img width="40" src="../../../assets/image/house.png" alt="">
          <div>
            <h5>{{customers.customer.billing_address.first_name}} {{customers.customer.billing_address.last_name}}<br
              *ngIf="customers.customer.billing_address.first_name"></h5>
            <p>{{customers.customer.billing_address.address_1}}<br *ngIf="customers.customer.billing_address.address_1">
              {{customers.customer.billing_address.address_2}}<br *ngIf="customers.customer.billing_address.address_2">
              {{customers.customer.billing_address.city}} {{customers.customer.billing_address.state}}<br
                *ngIf="customers.customer.billing_address.city">
              {{customers.customer.billing_address.phone}}<br *ngIf="customers.customer.billing_address.phone">
              {{customers.customer.billing_address.email}}<br *ngIf="customers.customer.billing_address.email">
              {{customers.customer.billing_address.country}} {{customers.customer.billing_address.postcode}}<br
                *ngIf="customers.customer.billing_address.postcode"></p>
          </div>
        </ion-card-content>
      </ion-card>

      <div *ngIf="customers.customer.shipping_address">
        <ion-card style="margin-bottom: 20px;">
          <ion-card-header >
            {{"BillingAddress" | translate}}
          </ion-card-header>
          <ion-card-content style="margin-top: 10px">
            <img src="../../../assets/image/package.png" alt="">
            <div>
              <h5>{{customers.customer.shipping_address.first_name}} {{customers.customer.shipping_address.last_name}}<br
              *ngIf="customers.customer.shipping_address.first_name"></h5>
              <p>{{customers.customer.shipping_address.address_1}}<br *ngIf="customers.customer.shipping_address.address_1">
                {{customers.customer.shipping_address.address_2}}<br *ngIf="customers.customer.shipping_address.address_2">
                {{customers.customer.shipping_address.city}} {{customers.customer.shipping_address.state}}<br
                  *ngIf="customers.customer.shipping_address.city">
                {{customers.customer.shipping_address.phone}}<br *ngIf="customers.customer.shipping_address.phone">
                {{customers.customer.shipping_address.email}}<br *ngIf="customers.customer.shipping_address.email">
                {{customers.customer.shipping_address.country}} {{customers.customer.shipping_address.postcode}}<br></p>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="button-margin">
        <button ion-button block color="button-color" type="submit" class="button button-block button-default" text-uppercase (click)="editAddress()">{{"EditAddress" | translate}}</button>
     </div>
    </div>
  </div>
</ion-content>
