ion-content {
  --overflow: hidden;
}
.account-login {
  position: relative;
  background-color: transparent !important;
  .margin {
    margin: 10px;
  }
  .list {
    margin: 0 0 16px 0;
  }
  .item {
    padding: 0px;
  }
  .button {
    border-radius: 7px;
  }
  button.logo-login {
    margin: auto;
    display: block;
  }

  .logo {
    position: fixed;
    width: 150px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    top: 18%;
  }

  .header-login {
    margin-top: -20px;
    background: url("../../../assets/image/header-login3.jpg") center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100vh;
    background-position: top;
    width: 100% !important;
    height: 100%;
  }
  form {
    margin: 0px;
    position: absolute;
    height: 70%;
    padding: 20px;
    left: 0%;
    right: 0%;
    // top: 38%;
    bottom: -1px;
    background: #fff;
    border-radius: 30px 30px 0px 0px;
  }
  .login {
    .list .item-block .item-inner {
      border-bottom: none;
    }
    .list > .item-block:first-child {
      border-top: none;
    }
    .list > .item-block:last-child {
      border-bottom: none;
    }
    .text-input {
      // border: 2px solid #e0e0e0;
      border-bottom: 2px solid #e0e0e0;
      height: 2.5em;
      // border-radius: 7px;
      padding: 0 8px;
      margin: 11px 8px 11px 8px;
    }
    .label {
      margin: 0 20px -4px 10px;
      font-size: 14px;
      font-family: "Arial Rounded MT";
    }
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus)
      .item-inner {
      border-bottom-color: transparent;
      box-shadow: none;
    }
    .item-md.item-input.input-has-focus .item-inner {
      box-shadow: none;
    }
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus)
      .item-inner {
      border-bottom-color: transparent;
      box-shadow: none;
    }
    .list-md
      .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
      border-bottom-color: transparent;
      box-shadow: none;
    }
    .list-md .item-input.input-has-focus:last-child {
      box-shadow: none;
    }
    .list-md
      .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
      border-bottom-color: transparent;
      box-shadow: none;
    }
  }
  .item-md ion-icon[item-right] {
    position: absolute;
    top: 8px;
    right: 12px;
  }
  .passwordIcon.icon-md {
    font-size: 2.5rem !important;
    position: relative !important;
    top: 9px !important;
    margin: 0px 0px 0px -8px !important;
    // border: 2px solid #e0e0e0;
    border-bottom: 2px solid #e0e0e0;
    height: 34px;
    // border-radius: 7px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0 8px;
    border-left: none;
  }
  .passwordIcon.icon-ios {
    font-size: 2.5rem !important;
    position: relative !important;
    top: 10px !important;
    margin: 0px 0px 0px -8px !important;
    // border: 2px solid #e0e0e0;
    border-bottom: 2px solid #e0e0e0;
    height: 34px;
    // border-radius: 7px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0 8px;
    border-left: none;
  }
  .ion-md-eye-off:before {
    margin-top: 5px;
  }
  .pass .text-input {
    border-right: none !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .button-center {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    button {
      background-color: #000;
      color: #fff;
      font-family: Arial, Helvetica, sans-serif;
      padding: 5px;
      width: 100%;
      border-radius: 20px;
    }
  }
  .button-default {
    width: 60%;
    margin: 0 auto;
  }

  .button {
    text-transform: capitalize !important;
    font-size: 15px;
  }
  .forgot-pass {
    width: 85%;
    color: #93babe;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 700;
    margin-top: -10px;
  }
}

.alert-md .alert-wrapper {
  max-width: 90%;
}
.alert-md .alert-button-group {
  padding: 8px 8px 8px 10px;
}

.alert-md .alert-button {
  margin: 0;
}
// .toolbar-title-ios{
//   display: none;
// }
// ion-header {
//   background-color: transparent !important;
// }

.scroll-content {
  margin-top: 0px !important;
}
.toolbar-ios-header .toolbar-background-ios,
.toolbar-md-header .toolbar-background-md {
  background: transparent !important;
  border: 0 !important;
}

.no-scroll .scroll-content {
  overflow: hidden;
}
