* {
  font-family: "HelveticaLt";
  cursor: url("https://ionicframework.com/img/finger.png"), auto;
}

.rtl {
  .item-ios ion-icon[item-left],
  .item-ios ion-icon[item-right] {
    margin-top: 9px;
    margin-bottom: 8px;
    margin-left: 12px;
  }
  .item-ios[detail-push] .item-inner,
  button.item-ios:not([detail-none]) .item-inner,
  a.item-ios:not([detail-none]) .item-inner {
    background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%…><path%20d='M2,20l-2-2l8-8L0,2l2-2l10,10L2,20z'%20fill='%23c8c7cc'/></svg>");
    padding: 0;
    background-repeat: no-repeat;
    background-position: left 14px center;
    background-size: 14px 14px;
  }
}

::-webkit-scrollbar {
  display: none;
}

#element::-webkit-scrollbar {
  display: none;
}

.swiper-pagination-bullet-active {
  background: #000;
  opacity: 1;
}
//radio
.item-radio.item ion-label {
  font-size: 15px;
}
.item-radio-checked.item ion-label {
  color: $button-color;
}
.radio .radio-checked .radio-inner {
  border-color: $button-color;
}
.radio-md .radio-checked {
  border-color: $button-color;
}
.radio-md .radio-inner {
  background-color: $button-color;
}
//alert
.alert-ios .alert-button,
.alert-md .alert-button {
  color: $button-color;
}
.alert-ios [aria-checked="true"] .alert-radio-label,
.alert-md [aria-checked="true"] .alert-radio-label {
  color: $button-color;
}
.alert-ios [aria-checked="true"] .alert-radio-inner,
.alert-md [aria-checked="true"] .alert-radio-inner {
  border-color: $button-color;
}
.alert-ios .alert-title,
.alert-md .alert-title {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}
.alert-ios .alert-radio-label,
.alert-md .alert-radio-label {
  font-size: 18px;
}
.alert-ios .alert-button {
  color: #fff;
  background-color: $button-color;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
}
.alert-md [aria-checked="true"] .alert-radio-icon {
  border-color: $button-color;
}
.alert-md .alert-radio-inner {
  background-color: $button-color;
}
.alert-ios .alert-radio-label {
  white-space: pre-line;
}
.alert-md .alert-radio-label {
  white-space: pre-line;
}
.alert-wp .alert-radio-label {
  white-space: pre-line;
}
.toggle-md .toggle-checked .toggle-inner,
.toggle-ios .toggle-checked .toggle-inner {
  background-color: $button-color;
}
.toggle-md .toggle-checked,
.toggle-ios .toggle-checked {
  background-color: #fff;
}
.toggle.toggle-checked .toggle-icon {
  background-color: $button-color;
}
//badge
.badge {
  position: absolute;
  top: -8%;
  right: 4%;
  right: calc(10% - 5px);
  padding: 1px 6px;
  height: auto;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  background-color: #222;
}
.button {
  font-size: 14px;
  text-transform: uppercase;
}
ion-spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 5px;
}
a {
  color: #222;
}
.menu-toolbar {
  .toolbar {
    height: 120px;
    border-width: 0 0 0.55px;
    // border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
  }
  .button-customername {
    text-align: center;
  }
  .button-welcome {
    text-align: center;
  }
  .profile-image img {
    //border-radius: 50%;
    //margin: 10px;
    //border: 4px solid rgba(255, 255, 255, 0.4);
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 60px!important;
    border-bottom: 1px;
  }
  .user-auth::after{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100px;
    background:rgba(0,0,0,0.8);
    z-index:-1;

  }
  .user-auth{

    margin-top: 20px;

  }

}

.sidemenugrad::after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  background:rgba(0,0,0,0.8);
  z-index:0;
}
.sidemenugrad {
  ion-label {
    font-size: 2rem;
    padding: 12px 10px 0 10px;
  }

  position: relative;
  background-color: rgba(0, 0, 0, 0.8) !important;
  background-image: url("../../../assets/image/background-menu.png");
  background-size: contain;

  .menu-items-single {
    margin-top: 150px!important;
    // margin: 0px 0 0 20px;
  }
  .menu-items {
    margin: 0px 0 16px 20px;
    .item > ion-icon,
    .item-inner > ion-icon {
      font-size: 2.8rem;
    }
    .item {
      ion-icon {
        padding: 4px;
        border-radius: 2px;
        line-height: 0;
        max-width: 24px;
        min-width: 24px;
        min-height: 24px;
        max-height: 24px;
      }
    }
  }
  .item {
    background-color: transparent;
    color: $menu-text-color;
  }
  .scroll-content {
    // padding-bottom: 120px;
    padding-bottom:0px!important;
  }
  .item-divider {
    .item > ion-icon,
    .item-inner > ion-icon {
      font-size: 2.8rem;
    }
    background-color: $menu-background-color;
    border-bottom: 0;
    color: $menu-text-color;
    font-size: 17px;
    ion-icon {
      padding: 3px;
      border-radius: 2px;
      line-height: 0;
      font-size: 2.8rem;
      max-width: 24px;
      min-width: 24px;
      min-height: 24px;
      max-height: 24px;
    }
  }
  margin-top: 0px;
  .list .item-block .item-inner {
    border-bottom: 0;
  }
  .list > .item-block:last-child {
    border-bottom: 0;
  }
  .list > .item-block:last-child .item-inner {
    border-bottom: 0;
  }
  .category-name {
    .item {
      padding-left: 56px;
    }
    ion-icon {
      color: $menu-border-color;
    }
  }
  .item-md ion-icon[item-left] + .item-inner {
    margin-left: 10px;
  }
  .activated {
    opacity: 0.6;
    ion-icon {
      opacity: 0.6;
    }
  }
}

ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }

  &[class*="custom-instagram"] {
    mask-image: url(../assets/icon/instagram.svg);
  }
  &[class*="custom-facebook"] {
    mask-image: url(../assets/icon/messenger.svg);
  }
  &[class*="custom-spades"] {
    mask-image: url(../assets/spades.svg);
  }
}

.sidemenugrad {
  background-color: black;
}
.sidemenugrad .menu-items .item ion-icon {
  color: white;
}
.sidemenugrad ion-label {
  color: white;
}

.toolbar-ios-header .toolbar-background-ios,
.toolbar-md-header .toolbar-background-md {
  background: #76a7ab;
}

.menu-toolbar .profile-image img {
  float: left;
  margin-left: 20px;
  width: 70%;
  color: white;
}
.lbl-proveedor {
  color: white;
  text-transform: uppercase;
}
.toolbar-title {
  width: 75%;
}

.splash {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #76a7ab;
}
.splashSpinner {
  width: 80px;
  height: 80px;
  background-image: url("../../assets/image/logo-h.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

ion-menu {
  // max-width: 200px!important;
}
.list-ios > .item-block:first-child {
  border-top: 0;
}


@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(180deg) rotateY(-179.9deg);
  }
}
