<!-- Header -->
<ion-header>
  <ion-toolbar color="header">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title >
      <img  (click)="gohome();" style="max-width: 150px;" src="{{values.avatar}}" />
    </ion-title>
    <ion-buttons end>
      <button
        ion-button
        icon-only
        light
        class="has-icon icon-only has-badge"
        (click)="getCart()"
      >
        <ion-icon class="ion-ios-cart item-icon"></ion-icon>
        <ion-badge class="badge badge-light" *ngIf="values.count">
          {{values.count}}
        </ion-badge>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-content padding>
  <ion-list>
    <ion-item text-wrap *ngFor="let category of categories" (click)="openCategoryPage(category)">
      <ion-thumbnail item-start >
         <img-loader *ngIf="category.image.length != 0" useImg src="{{category.image.src}}" useImg></img-loader>
      </ion-thumbnail>

      <h2> {{ category.name }} </h2>
      <p> {{ category.description }}</p>
    </ion-item>

  </ion-list>
</ion-content> -->

<ion-content #pageTop>


  <!-- <ion-fab bottom right slot="fixed">
    <button ion-fab>
      <ion-icon name="chatboxes"></ion-icon>
    </button>
  
    <ion-fab-list side="left">
  
      <a button ion-fab style="background-color: #ffffff;" href="https://www.messenger.com/t/thehexchange">
        <ion-icon style="background: #2196f3;" name="custom-facebook"></ion-icon>
      </a>
      <a button ion-fab style="background-color: #ffffff;" href="https://www.instagram.com/thehexchange/">
        <ion-icon style="background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);"
          name="custom-instagram"></ion-icon>
      </a>
  
    </ion-fab-list>
  </ion-fab> -->

  <!-- <ion-slides autoplay='3000' loop='true' autoHeight='true' pager='true'>
    <ion-slide *ngFor="let number of [1,2,3]">
       <img-loader src="./assets/images/1.jpg" useImg></img-loader>
    </ion-slide>
  </ion-slides> -->

  <ion-slides initialSlide="0" speed="3000" loop="false" pager="true" dir="rtl">
    <ion-slide>
      <div class="overlay">
        <!-- <img src="../../assets/image/1.jpg" class="slider-img"> -->
        <img src="{{values.slider}}" />
      </div>
      <!--overlay-->
      <div class="title-home-banner">
        Su proveedor de servicios para el hogar
      </div>
      <!-- <div class="card-search">
        <ion-searchbar (click)="getSearch()" placeholder="{{'Search' | translate}}"></ion-searchbar>
      </div> -->

      <div class="card-search">
        
      </div>

    </ion-slide>
  </ion-slides>

  <ion-card class="card-filter-home">
    <ion-card-header>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <ion-card-title>Busca Nuestros Servicios</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>

      <div style="margin: 0 10px 0 5px;">
        <button style="width:100%;background-color:white;color:black;height: 2em;border-radius: 5px;" ion-button class="positionCalendar">
          <ion-icon name="calendar" (click)='getAddressFromCoords()'></ion-icon>

           <ion-datetime placeholder="Fecha" displayFormat="DD MMM YYYY"  pickerFormat="DD MMM YYYY"  [(ngModel)]="dateOfevent" cancelText ="Cancelar" doneText="Seleccionar"></ion-datetime>
        </button>
      </div>

      <ion-searchbar (click)="clickSearch()" class="searchbar-category" [(ngModel)]="autocompleteCat.input" (ionInput)="getItemsCat()"
        (ionClear)="ClearAutocompleteCat()" placeholder="{{'Category' | translate}}"></ion-searchbar>
      <ion-list class="list-category" [hidden]="!HiddenListCat">
        <ion-item *ngFor="let item of itemsCategory" (click)="SelectSearchResultCat(item)">
          {{ item.name }}
        </ion-item>
      </ion-list>

      <!-- <ion-searchbar class="searchbar-category" 
        (ionClear)="ClearAutocompleteCat()" placeholder="Fecha y Hora"></ion-searchbar>
        <ion-searchbar class="searchbar-category" 
        (ionClear)="ClearAutocompleteCat()" placeholder="Frecuencia"></ion-searchbar> -->

        
  
      <ion-searchbar [hidden]="HiddenSearchLocation" class="searchbar-location" [(ngModel)]="autocomplete.input"
        (ionInput)="UpdateSearchResults()" placeholder="{{'Location' | translate}}" (ionClear)="ClearAutocomplete()">
      </ion-searchbar>
      <ion-icon item-end name="locate" [hidden]="HiddenSearchLocation"  class="passwordIcon" (click)='getAddressFromCoords()'></ion-icon>
  
      <ion-list class="list-location" [hidden]="!HiddenList">
        <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
          {{ item.description }}
        </ion-item>
      </ion-list>
  
      <div class="range-radius" [hidden]="HideRadius">
        <ion-label class="label-radius">{{"RADIUS" | translate}}</ion-label>
        <ion-range pin="true" min="0" max="100" [(ngModel)]="radius " color="secondary">
          <ion-label style="color: black;" range-left>0</ion-label>
          <ion-label style="color: black;" range-right>100</ion-label>
        </ion-range>
      </div>
  
      <div class="btn-search-product" [hidden]="HideBtnSearch">
        <button ion-button item-center medium color="button-color" text-uppercase
          (click)="searchProduct()">{{"Search" | translate}}
        </button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <!-- <div *ngIf="service.categories" class="category-name">
      <ion-item tappable full menuClose *ngFor="let item of service.mainCategories" (click)="getCategory(item.id, item.slug, item.name)">
        <ion-icon item-right class="ion-ios-arrow-forward item-icon">
        </ion-icon>
        <span [innerHTML]="item.name"></span>
      </ion-item>
    </div>  -->

    <h2 class="full-width text-center">{{'Encuentra y reserva la manera más segura de cuidar tu hogar.' | translate}}</h2>

    <ion-row *ngIf="service.categories" class="category-name">
      <ion-col col-12 class="flex-center" *ngFor="let item of service.mainCategories"
        (click)="getCategory(item.id, item.slug, item.name)">
        <ion-list>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-thumbnail>
                  <img src="{{item.image.src}}" />
                </ion-thumbnail>
              </ion-row>
            </ion-grid>

            <ion-grid>
              <ion-row item-left lbl-category>
                <p class="heading text-center">{{item.name}}</p>
                <!-- <p>{{item.description}}</p> -->
              </ion-row>
            </ion-grid>

            <ion-grid>
              <ion-row item-left lbl-category>
                <button class="btn-reservar" ion-button item-center medium color="button-color" text-uppercase
                  >{{"Reserva Ahora" | translate}}
                </button>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-slides class="testimonial" initialSlide="0" autoplay='500' loop="true" speed="6000" pager="true">
    <ion-slide>
      <div class="testimonial-content">
        <p>
          "Tenemos varios apartamentos en toda la ciudad y siempre nos cubren todas las necesidades al momento."
        </p>
        <ion-label>Mariam Lopez.</ion-label>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="testimonial-content">
        <p>
          "Homer me ayudo a encontrar diferentes servicios en un mismo lugar de un día para otro."
        </p>
        <ion-label>Jose Martinez.</ion-label>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="testimonial-content">
        <p>
          "Una app muy accesible fácil de usar para momentos puntuales donde requería limpieza y servicio de canguro."
        </p>
        <ion-label>Juana Garcia.</ion-label>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-card class="comunicated">
        <p style="text-align: left;margin: 15px;">
          Para prestar sus servicios, todos los proveedores tienen que pasar sus consiguientes pruebas psicologicas, entrevistas,
revision de antecedentes y validacion de identidad de domicilio.
        </p>
  </ion-card>

  <ion-footer>

    <ion-list class="item-footer">
      <div class="footer-content">
        <ion-item>
          <h3 style="text-decoration: underline;">INFORMACION DE CONTACTO</h3>
        </ion-item>
        <ion-item>
          <h2>902 333-333</h2>
          <h2>info@homer.com</h2>
        </ion-item>
  
        <ion-item>
          <ion-icon class="icon-facebook icon-social" name="logo-facebook"></ion-icon>
          <ion-icon class="icon-twitter icon-social" name="logo-twitter"></ion-icon>
          <ion-icon class="icon-linkedin icon-social" name="logo-linkedin"></ion-icon>
        </ion-item>
  
        <ion-item>
          <img class="icon-payment" style="max-width: 20%;" src="../../assets/icon/visa.svg">
          <img class="icon-payment" style="max-width: 20%;" src="../../assets/icon/mastercard.svg">
          <img class="icon-payment" style="max-width: 22%;" src="../../assets/icon/american.png">
          <img class="icon-payment" style="max-width: 22%;" src="../../assets/icon/paypal.png">
          
        </ion-item>
      </div>
    </ion-list>

  </ion-footer>

  <!-- <ion-card>
    <ion-list>
      <ion-item>
        <p>{{'Contact Us' | translate}}</p>
      </ion-item>
    </ion-list>
  </ion-card>

  <a button href="https://wa.me/{{values.settings.whatsapp_number}}?text=hello i need a medical consultation." clear
    item-left style="text-decoration: none;">
    <ion-card>
      <ion-list>
        <ion-item>
          <ion-icon class="icon-whatsapp" name="logo-whatsapp"></ion-icon>
          {{'Chat on whatsapp' | translate}}
        </ion-item>
      </ion-list>
    </ion-card>
  </a>

  <a button href="tel:+3059132306" clear item-left style="text-decoration: none;">
    <ion-card>
      <ion-list>
        <ion-item>
          <ion-icon name="call"></ion-icon>
          {{'Call us' | translate}}
        </ion-item>
      </ion-list>
    </ion-card>
  </a> -->

  <!-- <ion-card *ngFor="let category of categories">
    <ion-list>
      <ion-item (click)="openCategoryPage(category)">
        <ion-thumbnail item-left>
          <img src="{{category.image.src}}">
        </ion-thumbnail>
        <p class="heading">{{category.name}}</p>
        <p>{{category.description}}</p>
      </ion-item>
    </ion-list>
  </ion-card> -->
</ion-content>

