<!-- <ion-header>
  <ion-navbar color="header">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="categoryName">
      <span [innerHTML]="categoryName"></span>
    </ion-title>
    <ion-buttons end>
      <button
        ion-button
        icon-only
        light
        class="has-icon icon-only has-badge"
        (click)="getCart()"
      >
        <ion-icon
          color="icon-color"
          name="md-basket"
          class="item-icon"
        ></ion-icon>
        <ion-badge class="badge badge-light" *ngIf="values.count">
          {{values.count}}
        </ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header> -->

<ion-header>
  <ion-toolbar color="header">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img style="max-width: 150px;" src="{{values.avatar}}" />
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="products">

  <!-- <ion-fab bottom right slot="fixed">
    <button ion-fab>
      <ion-icon name="chatboxes"></ion-icon>
    </button>
    <ion-fab-list side="left">
      <a button ion-fab style="background-color: #ffffff;" href="https://www.messenger.com/t/thehexchange">
        <ion-icon style="background: #2196f3;" name="custom-facebook"></ion-icon>
      </a>
      <a button ion-fab style="background-color: #ffffff;" href="https://www.instagram.com/thehexchange/">
        <ion-icon style="background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);" name="custom-instagram"></ion-icon>
      </a>
    </ion-fab-list>
  </ion-fab> -->

  <ion-slides initialSlide="0" speed="3000" loop="false" pager="true" dir="rtl">
    <ion-slide>
      <div class="overlay">
        <img src="{{values.slider}}" />
      </div>
      <div class="title-home-banner">
        {{'Proveedores de Servicios' | translate}}
      </div>
    </ion-slide>
  </ion-slides>

  <ion-row>
    <ion-col col-9>
      <ion-searchbar class="searchbar-category" placeholder="Seleccionar Categoria"></ion-searchbar>
    </ion-col>
    <ion-col col-3 style="align-self: center;font-weight: bold;padding: 0;">

      <button class="btn-filter" (click)="getFilter()">
        Filtrar<img src="../../assets/icon/filter.svg" alt="">
      </button>
    </ion-col>
  </ion-row>

  <div *ngIf="showFilters" class="filter">
    <ion-list
      radio-group
      [(ngModel)]="sort"
      (ngModelChange)="chnageFilter(sort)"
    >
      <ion-list-header>
        <b>
          {{"Sort" | translate}}
        </b>
      </ion-list-header>

      <ion-item>
        <ion-label text-wrap>{{"Default" | translate}}</ion-label>
        <ion-radio value="5"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>{{"Sort by popularity" | translate}}</ion-label>
        <ion-radio value="6"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>{{"Sort by average rating" | translate}}</ion-label>
        <ion-radio value="7"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>{{"Sort by date: ASC" | translate}}</ion-label>
        <ion-radio value="8"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>{{"Sort by date: DESC" | translate}}</ion-label>
        <ion-radio value="9"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>{{"Sort by price: low to high" | translate}}</ion-label>
        <ion-radio value="10"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>{{"Sort by price: high to low" | translate}}</ion-label>
        <ion-radio value="11"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>{{"Sort by name: ASC" | translate}}</ion-label>
        <ion-radio value="12"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>{{"Sort by name: DESC" | translate}}</ion-label>
        <ion-radio value="13"></ion-radio>
      </ion-item>
    </ion-list>
    <button ion-button block color="button-color" (click)="cancel()">
      {{"CANCEL" | translate}}
    </button>
  </div>

  <div *ngIf="!showFilters">
    <!-- <ion-searchbar
      placeholder="Cuido, Niñera, Profesional"
      [(ngModel)]="q"
      [showCancelButton]="shouldShowCancel"
      (ionInput)="onInput($event)"
      (ionCancel)="onCancel($event)"
    ></ion-searchbar>
    <div *ngIf="!this.filter['filter[q]'] || this.filter['filter[q]'] == ''">
      <div *ngIf="subCategories" class="category">
        <ion-item *ngIf="subCategories.length" no-lines class="category-name">
          <ion-label text-uppercase>{{"Categories" | translate}}</ion-label>
        </ion-item>
        <div class="sub-category">
          <ion-item *ngFor="let item of subCategories">
            <ion-thumbnail item-left>
              <a (click)="getCategory(item.id, item.slug)">
                <img *ngIf="item.image?.src" src="{{item.image.src}}" />
              </a>
            </ion-thumbnail>
            <a (click)="getCategory(item.id, item.slug)">
              <h2>
                <span [innerHTML]="item.name"></span>
              </h2>
            </a>
            <ion-icon
              item-right
              ios="ios-arrow-forward"
              md="md-arrow-forward"
              (click)="getCategory(item.id, item.slug, item.name)"
            ></ion-icon>
          </ion-item>
        </div>
      </div>
    </div> -->

    <ion-spinner *ngIf="!products" name="crescent"></ion-spinner>
    <div *ngIf="products">
      <h2
        *ngIf="!products.length"
        style="font-size: 15px;text-align: center;margin-top: 30px"
      >
        No products found!.
      </h2>
    </div>
    <div *ngIf="products !== undefined" class="products-listing">
      <div *ngIf="products.length">
        <div *ngIf="values.listview">
          <!-- <ion-item no-lines class="item-name">
            <ion-label text-uppercase>{{"Providers" | translate}}</ion-label>
          <button ion-button icon-only item-right clear color="button-color" (click)="getFilter()">
            <ion-icon ios="ios-funnel" md="md-funnel"></ion-icon>
          </button>
          <button ion-button icon-only item-right clear color="button-color" (click)="setGridView()">
            <ion-icon ios="ios-grid" md="md-grid"></ion-icon>
          </button>
          </ion-item> -->
          <ion-list>
            <div class="item-list" *ngFor="let item of products">
              <ion-item class="left-padding" no-lines>
                <ion-thumbnail item-left class="stock-list">
                  <img
                    [style.height.rem]="values.dimensions.imageListViewHeight"
                    tappable
                    (click)="getProduct(item)"
                    src="{{item.images[0].src}}"
                  />
                  <button
                    class="out-of-stock-button"
                    ion-button
                    color="danger"
                    *ngIf="item.stock_status !== 'instock'"
                  >
                    {{"OUTOFSTOCK" | translate}}
                  </button>
                </ion-thumbnail>

                <!--div tappable (click)="getProduct(item.id)"-->
                <div class="product-name-top">
                  <ion-row>
                    <ion-col width-80 class="product-label">
                      <div tappable (click)="getProduct(item)">
                        <h2 *ngIf="item.title">{{item.title}}</h2>
                        <h2 *ngIf="item.name">{{item.name}}</h2>
                      </div>
                    </ion-col>
                    <ion-col width-20 class="wishlist-label">
                      <ion-icon
                        name="md-heart"
                        color="icon-color"
                        class="wishlist-button"
                        *ngIf="values.wishlistId[item.id]"
                        (click)="removeFromWishlist(item.id)"
                      ></ion-icon>
                      <ion-icon
                        name="md-heart-outline"
                        color="icon-color"
                        class="wishlist-button"
                        *ngIf="!values.wishlistId[item.id]"
                        (click)="addToWishlist(item.id)"
                      ></ion-icon>
                    </ion-col>
                  </ion-row>
                  <p
                    tappable
                    (click)="getProduct(item)"
                    class="max-lines"
                    [innerHTML]="item.description"
                  ></p>
                </div>

                <div class="price-bottom-list">
                  <h3 class="price-regular" *ngIf="!item.minPrice">
                    Starting from {{1*item.price |
                    currency:values.currency:true:'1.2-2'}}
                  </h3>

                  <h3 class="price-regular" *ngIf="item.minPrice">
                    Starting from {{1*item.minPrice |
                    currency:values.currency:true:'1.2-2'}}
                  </h3>
                  <!-- <h3 class="price-special" *ngIf="item.sale_price">
                    {{1*item.sale_price |
                    currency:values.currency:true:'1.2-2'}}
                  </h3>
                  <h3 class="price-del" *ngIf="item.sale_price">
                    <del>
                      {{1*item.regular_price |
                      currency:values.currency:true:'1.2-2'}}
                    </del>
                  </h3> -->
                </div>
                <!--/div-->

                <div class="bottom-right-button">
                  <!-- <button
                    ion-button
                    [disabled]="item.stock_status !== 'instock'"
                    text-uppercase
                    color="button-color"
                    item-right
                    outline
                    *ngIf="values.cart[item.id] == undefined || values.cart[item.id] == 0"
                    (click)="addToCart(item.id)"
                  >
                    {{"Add" | translate}}
                  </button> -->
                  <button
                    ion-button
                    icon-only
                    item-right
                    clear
                    color="button-color"
                    *ngIf="values.cart[item.id] >= 1"
                    (click)="deleteFromCart(item.id)"
                  >
                    <ion-icon
                      ios="ios-remove-circle-outline"
                      md="ios-remove-circle-outline"
                    ></ion-icon>
                  </button>
                  <button
                    ion-button
                    item-right
                    color="button-color"
                    clear
                    *ngIf="values.cart[item.id] >= 1"
                  >
                    {{values.cart[item.id]}}
                  </button>
                  <button
                    ion-button
                    icon-only
                    item-right
                    clear
                    color="button-color"
                    *ngIf="values.cart[item.id] >= 1"
                    (click)="updateToCart(item.id)"
                  >
                    <ion-icon
                      ios="ios-add-circle-outline"
                      md="ios-add-circle-outline"
                    ></ion-icon>
                  </button>
                </div>
              </ion-item>
            </div>
          </ion-list>
        </div>
        <div *ngIf="!values.listview">
          <!-- <ion-item no-lines class="item-name">
            <ion-label text-uppercase>{{"Providers" | translate}}</ion-label>
            <button ion-button icon-only item-right clear color="button-color" (click)="getFilter()">
              <ion-icon ios="ios-funnel" md="md-funnel"></ion-icon>
            </button>
            <button ion-button icon-only item-right clear color="button-color" (click)="setListView()">
              <ion-icon ios="ios-list-box" md="ios-list-box"></ion-icon>
            </button>
          </ion-item> -->
          <div class="card-background-page grid">
            <ion-row class="row unlimited-items">
              <ion-col class="col" *ngFor="let item of products">
                <ion-card class="item-product">
                  <ion-card-content class="stock">
                    <img
                      [style.height.px]="values.dimensions.imageGridViewHeight"
                      tappable
                      src="{{item.images[0].src}}"
                      (click)="getProduct(item)"
                    />
                    <button
                      ion-button
                      color="danger"
                      *ngIf="item.stock_status !== 'instock'"
                    >
                      {{"OUTOFSTOCK" | translate}}
                    </button>
                    <ion-icon
                      name="md-heart"
                      color="icon-color"
                      class="wishlist-button-grid"
                      *ngIf="values.wishlistId[item.id]"
                      (click)="removeFromWishlist(item.id)"
                    ></ion-icon>
                    <ion-icon
                      name="md-heart-outline"
                      color="icon-color"
                      class="wishlist-button-grid"
                      *ngIf="!values.wishlistId[item.id]"
                      (click)="addToWishlist(item.id)"
                    ></ion-icon>
                  </ion-card-content>
                  <div tappable (click)="getProduct(item)" class="card-name">
                    <ion-label *ngIf="item.title">{{item.title}}</ion-label>
                    <ion-label *ngIf="item.name">{{item.name}}</ion-label>
                  </div>

                    <ion-item no-padding no-lines class="item-background">
                      {{"Descripción" | translate}} :
                    </ion-item>
                    <ion-item class="description" text-wrap no-lines>
                      <div [innerHTML]="item.description"></div>
                    </ion-item>

                    <ion-item no-padding no-lines class="item-background">
                      {{"Categoria" | translate}} : {{item.categories[0].name}}
                    </ion-item>

                    <ion-item no-padding>
                      <span item-left *ngIf="item.average_rating" class="rating">
                        <!-- <span *ngIf="item.rating_count > 0">
                          ({{item.rating_count}})
                        </span> -->
                        <span
                          class="star-icon"
                          [ngClass]="{full: item.average_rating >= 1, half: item.average_rating == 0.5}"
                        >
                          &#x2605;
                        </span>
                        <span
                          class="star-icon"
                          [ngClass]="{full: item.average_rating >= 2, half: item.average_rating == 1.5}"
                        >
                          &#x2605;
                        </span>
                        <span
                          class="star-icon"
                          [ngClass]="{full: item.average_rating >= 3, half: item.average_rating == 2.5}"
                        >
                          &#x2605;
                        </span>
                        <span
                          class="star-icon"
                          [ngClass]="{full: item.average_rating >= 4, half: item.average_rating == 3.5}"
                        >
                          &#x2605;
                        </span>
                        <span
                          class="star-icon"
                          [ngClass]="{full: item.average_rating >= 5, half: item.average_rating == 4.5}"
                        >
                          &#x2605;
                        </span>
                      </span>
                    </ion-item>
                    <ion-item no-padding no-lines class="item-background">
                      <button style="font-weight: bold;" ion-button item-center medium color="button-color" text-uppercase
                      (click)="getProduct(item)">{{"CONTRATAR" | translate}}
                      </button>
                    </ion-item>

                </ion-card>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </div>
      <ion-infinite-scroll
        (ionInfinite)="doInfinite($event)"
        *ngIf="has_more_items"
      >
        <ion-infinite-scroll-content
          loadingSpinner="crescent"
          loadingText="{{'Loading more items..' | translate}}"
        ></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </div>
</ion-content>
